node_modules/
.expo/
dist/
build/
coverage/
expo-env.d.ts
native/olcrtc-tunnel-core/Frameworks/
.cache/

.env*
!.env.example
!.env.example.*

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db
*.tsbuildinfo
*.orig.*
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.log

.metro-health-check*
bun-debug.*

# generated native folders
/ios/
